/* Importa fonte */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {

  /* Neutro */
--Neutro-900: hsl(227, 75%, 14%);
--Neutro-800: hsl(226, 25%, 17%);
--Neutro-700: hsl(225, 23%, 24%);
--Neutro-600: hsl(226, 11%, 37%);
--Neutro-300: hsl(0, 0%, 78%);
--Neutro-200: hsl(217, 61%, 90%);
--Neutro-100: hsl(0, 0%, 93%);
--Neutro-0: hsl(200, 60%, 99%);

/* Vermelho */
--Vermelho-400: hsl(3, 86%, 64%);
--Vermelho-500: hsl(3, 71%, 56%);
--Vermelho-700: hsl(3, 77%, 44%);

/* Gradiente */
--Gradiente-claro: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Gradiente-escuro: linear-gradient(180deg, #040918 0%, #091540 100%);
}

/* Body */
body {
  height: 100vh;
  background-image: var(--Gradiente-escuro);
  padding: 2rem 1rem;
}