/* Importa fonte */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: 0;
  box-sizing: border-box;
}
